@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #FA0079;
    font-size: 1.6rem;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.cabecalho {
    background-color: #00FA02;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.cabecalho a {
    font-size: 3rem;
}

.cabecalho nav ul {
    display: flex;
}

.cabecalho nav ul li {
    padding: 0 15px;
    font-size: 2rem;
}

.container {
    padding: 50px;
    background-color: #fff;
    margin: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero {
    border-bottom: #777 solid 1px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 30px 70px;
}

.main p {
    align-self: center;
}

.roupas {
    padding-top: 50px;
    border-bottom: #777 solid 1px;
}

.roupas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0 70px;
}

.sobre {
    padding: 50px 30px;
}

.sobre-conteudo {
    padding-top: 50px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobre-conteudo p {
    align-self: center;
}

.rodape {
    background-color: #00FA02;
    text-align: center;
    padding: 30px;
}

.rodape p {
    padding: 25px;
}

.rodape ul {
    display: flex;
    justify-content: center;
}

.rodape ul li {
    padding: 0 30px;
}

a {
    transition: 0.3s;
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    background-color: #FA0079 ;
    color: #fff;
}
